<template>
  <div class="actors container">
    <h1 class="title">Actors</h1>
    <div class="row mt-3">
       <person v-for="(actor,index) in actors" :key="index" data-toggle="modal" data-target="#personDetails" @click.native="getPerson(actor.id)">
            <span slot="personName" class="person-fields" >{{ actor.name }}</span>
            <span slot="personGender" class="person-fields">{{ actor.gender}}</span>
            <span slot="personDOB" class="person-fields">{{ toFormatDob(actor.dob) }}</span>
       </person>
      <person-details :person="tempActor"></person-details>
    </div>
  </div>
</template>
<script>
import Person from '@/components/Person.vue'
import PersonDetails from '@/components/PersonDetails.vue'
import actorService from '../Services/ActorService'
export default {
  components:{
    Person,
    PersonDetails
  },
  data(){
    return{
      actors:[],
      tempActor:''
    }
  },
  async created(){
       this.actors= await actorService.getActors()
  },
  methods:{
    getPerson(value){
        this.tempActor=this.actors.find(a=>a.id==value)
    },
    toFormatDob(dob){
      return new Date(dob).toDateString("MM/dd/yyyy");
    }
  }
}
</script>
<style scoped>
.title{
  color:#ff0047a3
}
</style>