<template>
    <movie-form :movieDetails="movie"  @new-movie="postMovie($event)">
        <h1 class="text-center font-weight-bold font-italic m-3" slot="heading">Add Movie details</h1>
        <p id="formValidationError" :class="isMovieAdded ?'success-msg':'error-msg'" slot="formValidationStatus">{{ statusMsg }}</p>
    </movie-form>
</template>
<script>
import MovieForm from '@/components/MovieForm.vue'
import movieService from '../Services/MovieService'
export default {
    components:{
        MovieForm
    },
    data(){
        return{
             movie:{
                name: "",
                yearOfRelease: "",
                plot: "",
                producerId: "",
                actors: [],
                genres: [],
                profit: "",
                poster: ""
            },
            isMovieAdded:false,
            statusMsg:''
        }
    },
    methods:{
       async postMovie(newMovie){
           this.isMovieAdded = await movieService.addMovie(newMovie)
           this.statusMsg = this.isMovieAdded ? "Successfully added movie.." : "Error occured while adding movie.."
           if(this.isMovieAdded){
                setTimeout(()=>{
                     this.$router.push('/')
                 },2000)
           }
        }
    }
}
</script>