<template>
        <movie-form  :movieDetails="tempMovie" @new-movie="putMovie($event)">
            <h1 class="text-center font-weight-bold font-italic m-3" slot="heading">Edit Movie</h1>
            <p id="formValidationError" :class="isMovieModified?'success-msg':'error-msg'" slot="formValidationStatus">{{ statusMsg }}</p>
        </movie-form>
</template>
<script>
import MovieForm from '@/components/MovieForm.vue'
import movieService from '../Services/MovieService'
export default {
    props:{
        movie:{
            type:Object,
            default(){
                return{
                      name: "",
                      yearOfRelease: "",
                      plot: "",
                      producerId: "",
                      actors: [],
                      genres: [],
                      profit: "",
                      poster: ""
                }
              
            }
        },
        id:{
            type:Number
        }
    },
    components:{
        MovieForm
    },
    data(){
        return{
              tempMovie:'',
              statusMsg:'',
              isMovieModified:false
        }
    },
    created(){
        this.tempMovie=this.movie
    },
    methods:{
       async putMovie(movie){
            this.isMovieModified = await movieService.editMovie(movie,this.id)
            this.statusMsg = this.isMovieModified ? "Successfully Edited movie.." : "Error occured"
            if(this.isMovieModified){
                 setTimeout(()=>{
                     this.$router.push('/')
                 },2000)
            }
        }
    }

}
</script>