<template>
  <div class="list-movies container">
    <h1 class="title">Movies</h1>
    <div class="row">
    <movie v-for="(movie,index) in movies" :key="index">
      <img alt="movie-logo" slot="image" :src="require('../assets/' + movie.poster)" class="w-100">
      <h4 class="body-info" slot="movieName">{{ movie.name }}<span>({{ movie.yearOfRelease}})</span></h4>
      <span class="body-info" slot="producer">{{ movie.producer.name }}</span>
      <li slot="actors" v-for="(actor,index) in movie.actors" :key="index">{{ actor.name }}</li>
      <li slot="genres" v-for="(genre,index) in movie.genres" :key="index">{{ genre.name}}</li>
      <span slot="readMore"  @click="readMore(movie.id)">Read More</span>
      <div slot="editIcon" class="movie-icons edit-icon" @click="editButton(movie.id,index)">
          <span><i class="fas fa-edit"></i></span>
      </div>
      <div slot ="deleteIcon" class="movie-icons delete-icon" data-toggle="modal" data-target="#deleteMovie" @click="deleteButton(movie.id,index)">
          <span><i class="fas fa-trash-alt"></i></span>
      </div>
    </movie>
    <movie-details :movie="readMovie"></movie-details>
    <div v-if="isShowDeleteModal">
      <delete-movie  @close-modal="closeDeleteModal"  :movieName="title" :id="id" @deleted-movie="deleteMovie"></delete-movie>
    </div>
  </div>
  </div>
</template>

<script>
import movieService from '../Services/MovieService'
import Movie from '../components/Movie.vue'
import MovieDetails from '../components/MovieDetails.vue'
import DeleteMovie from '../components/DeleteMovie.vue'
export default {
  name: 'ListMovies',
  components:{
    Movie,
    MovieDetails,
    DeleteMovie
  },
  data(){
    return{
      movies:[],
      id:'',
      index:'',
      readMovie:'',
      title:'',
      isShowDeleteModal:false,
      tempMovie:{
          name:'',
          yearOfRelease:'',
          profit:'',
          plot:'',
          producerId:'',
          actors:[],
          genres:[],
          poster:''
      }
    }
  },
  async created(){
       this.movies = await movieService.getMovies()
  },
  methods:{
    getMovieDetails(value){
      let movie=this.movies.filter(m=>m.id==value)[0]
       this.tempMovie.name=movie.name
       this.tempMovie.profit=movie.profit
        this.tempMovie.yearOfRelease=movie.yearOfRelease
        this.tempMovie.plot=movie.plot
        this.tempMovie.producerId=movie.producer['id']
        this.tempMovie.actors=movie.actors.map(a=> a.id)
        this.tempMovie.genres=movie.genres.map(g=>g.id)
    },
    editButton(value,index){
      this.id = value !==undefined ? value : console.warn("id is undefined");
      this.index= index !== undefined ? index : console.warn("index is undefined");
      this.getMovieDetails(value)
      this.$router.push({
                    name: 'EditMovie',
                    params: {
                            movie:this.tempMovie,
                            id:this.id,
                            title:'hello'     
                        }
                });
    },
    closeDeleteModal(){
        this.isShowDeleteModal=false
    },
    deleteButton(value,index){
      this.isShowDeleteModal=true
      this.id = value!==undefined ? value : console.warn("id is undefined");
      this.index = index!==undefined ? index : console.warn("index is undefined");
      this.title=this.movies.find(m=>m.id == value).name
    },
    readMore(value){
      this.readMovie=this.movies.find(m => m.id== value);
      
    },
    deleteMovie(){
     this.movies.splice(this.index,1)
     setTimeout(()=>{
       this.closeDeleteModal();
     },2000)
    }
  }
}
</script>
<style scoped>
.title{
  color:#ff0047a3
}
</style>