<template>
  <div class="producers container">
    <h1 class="title">Producers</h1>
    <div class="row mt-3">
       <person v-for="(producer,index) in producers" :key="index" data-toggle="modal" data-target="#personDetails" @click.native="getPerson(producer.id)">
            <span slot="personName" class="person-fields" >{{ producer.name }}</span>
            <span slot="personGender" class="person-fields">{{ producer.gender}}</span>
            <span slot="personDOB" class="person-fields">{{ toFormatDob(producer.dob) }}</span>
       </person>
       <person-details :person="tempProducer"></person-details>
    </div>
  </div>
</template>
<script>
import Person from '@/components/Person.vue'
import PersonDetails from '@/components/PersonDetails.vue'
import producerService from '../Services/ProducerService'
export default {
  components:{
    Person,
    PersonDetails
  },
  data(){
    return{
      producers:[],
      tempProducer:''
    }
  },
  async created(){
    this.producers=await producerService.getProducers()
  },
  methods:{
    getPerson(value){
        this.tempProducer=this.producers.find(p=>p.id==value)
    },
    toFormatDob(dob){
      return new Date(dob).toDateString("MM/dd/yyyy");
    }
  }
}
</script>
<style scoped>
.title{
  color:#ff0047a3
}
</style>