<template>
    <div id="addPersonModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add {{ personType }}</h4>
                </div>
                <div class="modal-body">
                    <person-form @add-person="postPerson($event)">
                        <p class="text-center" :class="isPersonAdded ? 'success-msg': 'error-msg'" slot="personStatusMsg">{{ personStatusMsg }}</p>
                    </person-form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="actorCloseButton" class="btn btn-warning" data-dismiss="modal" @click="$emit('close-modal')">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import actorService from '../Services/ActorService'
import producerService from '../Services/ProducerService'
import PersonForm from './PersonForm.vue';
export default {
       props:["personType"],
       components:{
           PersonForm
       },
       data(){
           return{
               personStatusMsg:"",
               isPersonAdded:false
           }
       },
       methods:{
          async postPerson(person){
               if(this.personType==="actor"){
                    this.isPersonAdded= await actorService.addActor(person)
                    this.personStatusMsg=this.isPersonAdded ? "successfully actor added..." : "Error occured" 
               }
               else{
                   this.isPersonAdded= await producerService.addProducer(person)
                   this.personStatusMsg=this.isPersonAdded ? "successfully producer added..." : "Error occured"
                
               }
                if(this.isPersonAdded){
                    this.$emit("update-persons")
                }
             
        }
      
       }
}
</script>
<style scoped>
.error-msg{
    color: #dd0a0a;
}
.success-msg{
    color:#1818ac
}
</style>