<template>
    <div class="modal" tabindex="-1" role="dialog" id="deleteMovie">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>{{ movieName }}</h1>
        <p>
            Are you sure ,to delete this movie?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$emit('close-modal')">Close</button>
        <button type="button" class="btn btn-danger"  @click="deleteMovie">Delete</button>
      </div>
      <p class="text-center" :class="isMovieDeleted ? 'text-primary' : 'text-danger'">{{ statusMsg }}</p>
    </div>
  </div>
</div>
</template>
<script>
import movieService from '../Services/MovieService'
export default {
    props:['movieName','id'],
    data(){
        return {
            isMovieDeleted :false,
            statusMsg:''
        }
    },
    
    methods:{
          async deleteMovie(){
                this.isMovieDeleted = await movieService.deleteMovie(this.id)
                this.statusMsg = this.isMovieDeleted  ? 'Successfully deleted movie' : 'error occured'
                if(this.isMovieDeleted ===true){
                  this.$emit("deleted-movie")
                }
             }
       }   
}
</script>