<template>
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
        <div class="movie-img w-100">
            <slot name="image"/>
            </div>
            <div class="movie-body shadow p-2">
                <slot name="movieName"/>
                    <h5 class="body-headings">Producer: 
                        <slot name="producer"/>
                    </h5>
                    
                <div class="d-flex justify-content-around">
                    <div>
                        <h5 class="body-headings">Actors :</h5>
                        <ul style="list-style-type:none;" class="body-info">
                            <slot name="actors"/>
                        </ul>
                    </div>
                    <div>
                        <h5 class="body-headings">Genres :</h5>
                        <ul style="list-style-type:none;" class="body-info">
                           <slot name="genres"/> 
                        </ul>
                    </div>
                    
                </div>
                <p class="read-more" data-toggle="modal" data-target="#movieDetails">
                    <slot name="readMore" />  
                </p>
                <div class="d-flex justify-content-between p-2">
                    <slot name="editIcon"/>
                    <slot name="deleteIcon"/>
                </div>
            </div>
    </div>
         
    
</template>
<style scoped>
.body-info{
    color: #959ead;;
}
.body-headings{
    color: #323f4b;
}
.movie-icons:hover{
    cursor: pointer
}
.delete-icon{
    color:#e60e7a
}
.edit-icon{
    color:#4646c9
}
.read-more{
    cursor: pointer;
    color: #4848dd;
}

</style>