<template>
    <div class="modal" tabindex="-1" role="dialog" id="movieDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movie Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="sideheading">Title: <span class="content">{{movie.name}}</span></h4>
                <h5 class="sideheading">Content:</h5>
                <span class="content">
                    yearOfRelease: {{ movie.yearOfRelease }},
                    Profit :{{ movie.profit }} ,
                    Plot : {{ movie.plot }}
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['movie']
}
</script>
<style scoped>
.sideheading{
    color:#e20b0bb0
}
.content{
    color:#2057d4
}
</style>