<template>
    <div class="container bg-light mt-2 form-box">
            <slot name="heading"></slot>
            <form id="myForm">
                <div class="form-row mb-3">
                    <div class="col-lg-6 col-md-12 mb-2">
                        <label for="name">Movie name:</label>
                        <input id="name" v-model="movie.name" @blur="checkName" class="form-control" type="text" placeholder="enter any movie name">
                        <p class="error-msg" id="nameError">{{ nameError }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2">
                        <label for="year">Year of Release:</label>
                        <input id="year" v-model.number="movie.yearOfRelease" @blur="checkYear" class="form-control" type="text" placeholder="enter movie release year">
                        <p class="error-msg" id="yearError">{{ yearError }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2">
                        <label for="profit">Profit</label>
                        <input id="profit" class="form-control" v-model="movie.profit" @blur="checkProfit" type="number" placeholder="enter movie profit(ve) or loss(-ve)">
                        <p class="error-msg" id="profitError">{{ profitError }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2">
                        <label for="producer">Producer:</label>
                        <select id="producer" class="form-select form-control" v-model="movie.producerId" @blur="checkProducer" aria-label="Default select example">
                            <option value="" selected disabled>Select producer</option>  
                            <option v-for="producer in producers" :key="producer.id" :value="producer.id">{{ producer.name }}</option>             
                       </select>
                        <p class="error-msg" id="producerError">{{ producerError }}</p>
                        <label for="producerButton">
                            <a class="text-primary" id="addProducerClickHere" data-toggle="modal" data-target="#addPersonModal"  @click="showPersonModal('producer')">click here</a> to add new producer...
                        </label>
                    </div>
                    <div class=" col-lg-6 col-md-12 mb-2 " id="actorsEvent">
                        <label for="actors">Actors:</label>
                        <select class="form-select form-control" v-model="movie.actors" id="actors" @blur="checkActors" multiple>
                            <option value="" selected disabled>select movie actors</option>
                            <option v-for="actor in actors" :key="actor.id" :value="actor.id">{{ actor.name }}</option>             
                      </select>
                        <p class="error-msg" id="actorsError">{{ actorsError }}</p>
                        <label for="producerButton">
                            <a class="text-primary" id="addActorClickHere" data-toggle="modal" data-target="#addPersonModal" @click="showPersonModal('actor')">click here</a> to add new actor...
                        </label>
                    </div>
                    <div class=" col-lg-6 col-md-12 mb-2 ">
                        <label for="genres">Genres:</label>
                        <select class="form-select form-control" v-model="movie.genres" id="genres" @blur="checkGenres" multiple>
                            <option value="" selected disabled>select movie genres</option>
                            <option v-for="genre in genres" :key="genre.id" :value="genre.id">{{ genre.name }}</option>             
                        </select>
                        <p class="error-msg" id="genresError">{{ genresError }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2">
                        <label for="plot">Plot:</label>
                        <textarea rows="6" v-model="movie.plot" @blur="checkPlot" cols="100%" class="form-control" id="plot" placeholder="enter bio of movie..."></textarea>
                        <p class="error-msg" id="plotError">{{ plotError }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <label for="poster">Select movie poster</label>
                        <input id="poster" class="form-control" type="file" @change="getFilePath($event)" @blur="checkPoster" placeholder="Select movie image...">
                        <p class="error-msg" id="posterError">{{ posterError }}</p>
                    </div>
                    <div class=" col-12 mb-2 text-center ">
                        <button type="submit" class="btn btn-primary form-control" @click.prevent="submitFormDetails()">submit</button>
                        <slot name="formValidationStatus"></slot>
                    </div>
                </div>
            </form>
            <div v-if="isPersonModalVisible">
                <add-person :personType="personType"  @close-modal="closePersonModal" @update-persons="updatePersons()"></add-person>
            </div>
        </div> 
</template>
<script>
import actorService from '../Services/ActorService'
import genreService from '../Services/GenreService'
import ProducerService from '../Services/ProducerService'
import VSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import AddPerson from './AddPerson.vue'
export default {
    props:['movieDetails'],
    components:{
        AddPerson,
        VSelect
    },
    data(){
        return{
            movie:{
                name: "",
                yearOfRelease: "",
                plot: "",
                producerId: "",
                actors: [],
                genres: [],
                profit: "",
                poster: ""
            },
            personType:'',
            actors:[],
            producers:[],
            genres:[],
            isMovieValidate:false,
            isPersonModalVisible:false,
            nameError:'',
            yearError:'',
            profitError:'',
            producerError:'',
            actorsError:'',
            genresError:'',
            posterError:'',
            plotError:''   
        }
    },
    created(){
        this.movie=this.movieDetails
        this.getActors()
        this.getProducers()
        this.getGenres()
    },
    methods:{
       async getActors(){
            this.actors = await actorService.getActors()
        },
       async getProducers(){
           this.producers = await ProducerService.getProducers()
        },
        async getGenres(){
           this.genres = await genreService.getGenres()
        },
        getFilePath(event) {
            this.movie.poster =event.target.files[0].name
        },
        formValidation(){
            if(this.movie.name==='' || this.movie.genres.length===0 || this.movie.actors.length===0
            || this.movie.poster==='' || this.movie.profit=='' || this.movie.yearOfRelease==='' 
            || this.movie.plot==='' || this.movie.producerId===''){
                    this.isMovieValidate=false;
            }
            else{
                this.isMovieValidate=true;
            }
        },
        submitFormDetails(){
            this.formValidation()
            if(this.isMovieValidate){
                this.$emit("new-movie",this.movie)
            }
            else{
                this.checkName()
                this.checkYear()
                this.checkProfit()
                this.checkProducer()
                this.checkActors()
                this.checkGenres()
                this.checkPlot()
                this.checkPoster()
            } 
        },
       async updatePersons(){
            if(this.personType==="actor"){
                await this.getActors()
                this.movie.actors.push(this.actors[this.actors.length-1]['id'])
                setTimeout(()=>{
                    this.closePersonModal();
                },2000)
            }
            else{
                await this.getProducers()
                this.movie.producerId=this.producers[this.producers.length-1]['id']
                 setTimeout(()=>{
                    this.closePersonModal();
                },2000)
            }
        },
        checkName(){
            if(this.movie.name === ''){
                this.nameError="*Required"
            }
            else{
                this.nameError=''
            }
        },
        showPersonModal(type) {
            this.isPersonModalVisible = true;
            this.personType=type
        },
        closePersonModal() {
            this.isPersonModalVisible = false
            this.personType=''
        },   
        checkYear(){
            if(this.movie.yearOfRelease === ''){
                this.yearError="*Required"
            }
            else{
                this.yearError=''
            }
        },
        checkProfit(){
            if(this.movie.profit === ''){
                this.profitError="*Required"
            }
            else{
                this.profitError=''
            }
        },
        checkProducer(){
            if(this.movie.producerId === ''){
                this.producerError="*Required"
            }
            else{
                this.producerError=''
            }
        },
        checkActors(){
            if(this.movie.actors.length === 0){
                this.actorsError="*Required"
            }
            else{
                this.actorsError=''
            }
        },
        checkGenres(){
            if(this.movie.genres.length === 0){
                this.genresError="*Required"
            }
            else{
                this.genresError=''
            }
        },
        checkPlot(){
            if(this.movie.plot === ''){
                this.plotError="*Required"
            }
            else{
                this.plotError=''
            }
        },
        checkPoster(){
            if(this.movie.poster === ''){
                this.posterError="*Required"
            }
            else{
                this.posterError=''
            }
        }
    }
}

</script>
<style scoped>
.error-msg{
    color: #e24a4a;
}
.success-msg{
    color:#3232d3;
}
</style>