<template>
     <div class="w-100">
         <form id="personForm">
            <div class="form-row">
                <div class="col-12 mb-2">
                    <label for="personName">Name:</label>
                    <input type="text" v-model="person.name" @blur="checkName" id="personName" placeholder="Enter name" class="form-control">
                    <p class="error">{{nameError}}</p>
                </div>
                <div class="col-12 mb-2">
                    <label for="personDOB">DOB:</label>
                    <input type="date" id="personDOB" v-model="person.dob" @blur="checkDob" placeholder="Enter DOB" class="form-control">
                    <p class="error">{{dobError}}</p>
                </div>
                <div class="col-12 mb-2">
                    <label for="person Bio">Bio:</label>
                    <textarea rows="6" cols="100%" v-model="person.bio" @blur="checkBio" class="form-control" id="personBio" placeholder="enter bio ..."></textarea>
                    <p class="error">{{bioError}}</p>
                </div>
                <div class="col-12 mb-2">
                    <label for="personGender">Gender:</label>
                    <div>
                        <select class="form-select" v-model="person.gender" @blur="checkGender">
                            <option value="" disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        <p class="error">{{genderError}}</p>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <button @click.prevent="submitPerson()" class="btn btn-primary" data-dismiss="modal" id="addPersonButton">Add</button>
                     <slot name="personStatusMsg"></slot>
                </div>
            </div>
        </form>
    </div> 
</template>
<script>
export default {
    data(){
        return{
             person:{
                name:"",
                gender:"",
                bio:'',
                dob:""
            },
           nameError:'',
           genderError:'',
           bioError:'',
           dobError:''
        }
    },
    methods:{
        submitPerson(){
            let {name ,gender,bio,dob}=this.person;
            if(name!=='' && gender!=='' && bio!=='' && dob!==''){
                this.$emit("add-person",this.person)
                this.person.gender=""
                this.person.bio=""
                this.person.name=""
                this.person.dob=""
            }
            else{
                this.checkName()
                this.checkBio()
                this.checkDob()
                this.checkGender()
            }
        },
        checkName(){
            if(this.person.name==''){
                this.nameError="*Required"
            }
            else{
                this.nameError=""
            }
        },
        checkBio(){
            if(this.person.bio==''){
                this.bioError="*Required"
            }
            else{
                this.bioError=""
            }
        },
        checkDob(){
            if(this.person.dob==''){
                this.dobError="*Required"
            }
            else{
                this.dobError=""
            }
        },
        checkGender(){
            if(this.person.gender==''){
                this.genderError="*Required"
            }
            else{
                this.genderError=""
            }
        }
    }
    
}
</script>
<style scoped>
.error{
    color: #dd0a0a;
}
</style>