<template>
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
        <div class="p-3 card shadow person-card">
             <h4 class="body-headings">Name:
                <slot name="personName"/>
            </h4>
            <h5 class="body-headings">Gender :
                <slot name="personGender"/>
            </h5>
            <h6 class="body-headings">DOB: 
                <slot name="personDOB" />
            </h6>
        </div>
    </div>
</template>
<style scoped>
.person-card:hover{
    cursor: pointer;
}
.person-fields{
    color: #959ead;
    font-weight: normal;
}
.body-headings{
    color: #55abf7;
    font-weight: 600;
}
.person-card{
    color:#8b0b16
}
</style>