<template>
    <div class="modal" tabindex="-1" role="dialog" id="personDetails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">More Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Name:{{person.name}} <br/>
                Gender: {{person.gender }} <br/>
                DOB :{{ person.dob | toFormatDob }} <br/>
                Bio : {{ person.bio }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['person'],
    filters:{
        toFormatDob(dob){
            return new Date(dob).toDateString("MM/dd/yyyy");
        }
    }
}
</script>